<img src="assets/imgs/gd.svg" class="logo-footer">
<div class="list-items">
	<a href="#about" {{action "scrollTo" "#about" bubbles=false}}>
		{{#link-to "index"}}
			{{t "header.about"}}
		{{/link-to}}
	</a>
	<a href="#team" {{action "scrollTo" "#team" bubbles=false}}>
		{{#link-to "index"}}
			{{t "header.team"}}
		{{/link-to}}
	</a>
	<a href="#projects" {{action "scrollTo" "#projects" bubbles=false}}>
		{{#link-to "index"}}
			{{t "header.projects"}}
		{{/link-to}}
	</a>
	{{#link-to "contact"}}
		<a>
			{{t "header.contact"}}
		</a>
	{{/link-to}}
	<p {{action "changeLocale" "es"}}>Español</p>
	<p {{action "changeLocale" "en"}}>English</p>
</div>
<div class="social">
	<a href="https://github.com/GeekDevelopersco">
		<i class="fab fa-github-alt"></i>
	</a>
	<a href="">
		<i class="fab fa-linkedin-in"></i>
	</a>
	<a href="https://medium.com/@geekdevelopers">
		<i class="fab fa-medium-m"></i>
	</a>
</div>