<div class="section-intro bg-img">
	<h1>{{t "app.title"}}</h1>
	<h2>{{t "app.subtitle"}}</h2>
	<div id="points">
		<div class="point point-small bg-yellow"></div>
		<div class="point point-small bg-green"></div>
		<div class="point point-small bg-red"></div>
		<div class="point point-small bg-blue"></div>
	</div>
</div>
<img src="/assets/imgs/combined-shape.svg" class="bottom-intro">
<div class="section-about" name="about" id="about">
	<div class="ctn-square">
		<div class="square-frame">
			<div class="square">
				<img src="assets/imgs/team2.jpeg" alt="">
			</div>
			<div class="ctn-lines" id="ctn-lines">
				<div class="line bg-yellow"></div>
				<div class="line bg-green"></div>
				<div class="line bg-red"></div>
				<div class="line bg-blue"></div>
			</div>
		</div>
	</div>
	<div class="about">
		{{t "app.about"}}
		<div>
			<img src="assets/imgs/gd.svg">
		</div>
	</div>
	<img src="/assets/imgs/bottom-intro.svg" class="top-team">
</div>
<div class="section-team" id="team">
	<div class="title-ctn">
		<h2>{{t "header.team"}}</h2>
		<div class="separator-line"></div>
	</div>
	{{#each model as |member|}}
		<div class="circle-ctn">
			<div class="circle">
				<img src={{member.image}} alt="">
			</div>
			<p class="name">{{member.name}}</p>
			<p class="charge">{{member.charge}}</p>
			<div class="social">
				{{#if member.linkedin}}
					<a href={{member.linkedin}} target="_blank">
						<i class="ic_linkedin"></i>
					</a>
				{{/if}}
				{{#if member.github}}
					<a href={{member.github}} target="_blank">
						<i class="ic_github"></i>
					</a>
				{{/if}}
				{{#if member.artstation}}
					<a href={{member.artstation}} target="_blank">
						<i class="ic_artstation"></i>
					</a>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>
<div class="section-projects" name="projects" id="projects">
	<div class="title-ctn">
		<h2>{{t "header.projects"}}</h2>
		<div class="separator-line"></div>
	</div>
	<a class="appear-logo">
		<img src="/assets/imgs/logo-DoNations.svg" class="do-nations">
	</a>
	<img src="/assets/imgs/hummi.svg" class="img-bigger appear-logo">
	<a href="http://medialop.com/" target="_blank" class="appear-logo">
		<img src="/assets/imgs/medialop.svg" class="medialop">
	</a>
	<a href="https://sirjohnsandwich.com/" target="_blank">
		<img src="/assets/imgs/sirjohn.svg" class="img-bigger appear-logo">
	</a>
	<img src="/assets/imgs/accesio.svg" class="appear-logo">
	<a href="https://cryptoblackmoon.github.io/" target="_blank">
		<img src="/assets/imgs/blackgold.png" class="blackgold appear-logo">
	</a>
	<img src="/assets/imgs/bottom-intro.svg" class="bottom-team">
</div>