	<img src="assets/imgs/geekdev.svg" alt="">
	<div class="items-navbar flexbox align-vertical">
		<a href="#about" {{action "scrollTo" "#about" bubbles=false}}><p>{{t "header.about"}}</p></a>
		<a href="#projects" {{action "scrollTo" "#projects" bubbles=false}}><p>{{t "header.projects"}}</p></a>
		<a href="#team" {{action "scrollTo" "#team" bubbles=false}}><p>{{t "header.team"}}</p></a>
		<a href="#contact" {{action "scrollTo" "#contact" bubbles=false}}><p>{{t "header.contact"}}</p></a>
	</div>
{{yield}}